<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Joel Hilton Film Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <header>
        <a asp-action="Index">Home</a>
        <a asp-action="AddMovie">Add a movie</a>
        <a asp-action="Collection">See the collection</a>
        <a asp-action="Podcast">My Podcasts</a>

    </header>
    <h1>@ViewBag.Title</h1>

    @RenderBody()

    <br />
    <br />
    <footer>Copyright 2021</footer>

</body>
</html>
